.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.right {
  float: right;
  width: 300px;
  padding: 10px;
}
.fill {
  object-fit: fill;

}
.contain {
  object-fit: contain;

}
.cover {
  object-fit: cover;

}
.scale-down {
  object-fit: scale-down;

}
.none {
  object-fit: none;

}
img{
  height: 100%;
  width: 100%;
}


