.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
/* Fixed the bug where user can't scroll page on mobie view
*/
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  touch-action: auto !important;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background-clip: content-box;
  background-color: blue;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

/*
 * Adjust handle position based on spacing
 */

[spacing='8'] .react-resizable-handle {
  bottom: 4px;
  right: 4px;
}

[spacing='16'] .react-resizable-handle {
  bottom: 8px;
  right: 8px;
}

[spacing='32'] .react-resizable-handle {
  bottom: 16px;
  right: 16px;
}

[spacing='64'] .react-resizable-handle {
  bottom: 32px;
  right: 32px;
}

[spacing='128'] .react-resizable-handle {
  bottom: 64px;
  right: 64px;
}

/*
 * Adjust placeholder size based on spacing
 */

[spacing='8'] .react-grid-placeholder {
  padding: 4px;
}

[spacing='16'] .react-grid-placeholder {
  padding: 8px;
}

[spacing='32'] .react-grid-placeholder {
  padding: 16px;
}

[spacing='64'] .react-grid-placeholder {
  padding: 32px;
}

[spacing='128'] .react-grid-placeholder {
  padding: 64px;
}